<!DOCTYPE html>
<html>
  <head>
    <title>Express REST Admin</title>
    <script type="text/javascript" src="/js/rest-monitor.bundle.js"></script>
  </head>
  <body>
    <div id="nav-bar"></div>
    <div id="response-container">
      <div>
        <pre><%= response %></pre>
      </div>
    </div>
    <div id="request-container"></div>
  </body>
</html>